<a href="https://colab.research.google.com/github/10zinchosang/Summer2022-DataAnalytics/blob/main/Basics_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to python part II

## Data Structures

## Lists

In [168]:
lst = []
# In this line I am defining an empty list
# To define lists I create a variable name such as 'lst' and then I assign an empty set of squared brackets
# By assign I mean to simply use a single equal sign

In [169]:
type(lst)
# Displaying the data type of variable 'lst'

list

In [170]:
my_list = ["Hello", 100, 23.47]
# Defined a list with a string, integer, and a float

In [171]:
print(my_list)
# Printing a list

['Hello', 100, 23.47]

In [172]:
type(my_list)

list

In [173]:
second_list = ["one", "two", "three"]

In [174]:
print(my_list,second_list)

['Hello', 100, 23.47] ['one', 'two', 'three']

### 1) Concatenation

In [175]:
new_list = my_list + second_list
# Creating a new variable by adding two lists together

In [176]:
type(new_list)
# The result of adding two lists together is another list

list

In [177]:
new_list

['Hello', 100, 23.47, 'one', 'two', 'three']

### 2) Indexing in a list

In [178]:
students = ["Robert", "Chris", "Katarina", "Scarlett"]

In [179]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [180]:
students[0]
# Calling the 0th index, or first element, in the list 'students'

'Robert'

In [181]:
students[0][0]
# Calling the first element of the first element of 'students' which is the letter 'R' in 'Robert'

'R'

In [182]:
string1 = "this is a string"

In [183]:
string1

'this is a string'

In [184]:
string1[2]
# Calling the 2nd index, or third element, of string 'string1'

'i'

### 3) Editing the list

In [185]:
students

['Robert', 'Chris', 'Katarina', 'Scarlett']

In [186]:
# Replace Values
students[0] = "Sam"
# Replaced the first element 'Robert' with 'Sam'

In [187]:
students

['Sam', 'Chris', 'Katarina', 'Scarlett']

In [188]:
# Add Values
students.append("Paul")
students
# Appended a new element 'Paul' to the end of list 'students'

['Sam', 'Chris', 'Katarina', 'Scarlett', 'Paul']

In [189]:
# Remove Values
students.remove("Scarlett")
students
# Removed the element 'Scarlett' in the list 'students'

['Sam', 'Chris', 'Katarina', 'Paul']

In [190]:
list1 = ["one", "two", "three", "four", "five"]

In [191]:
list1.pop()
# .pop() took out the last element in list 'list1'

'five'

In [192]:
list1.pop(2)
# .pop(2) took out the third element in the new 'list1' which is 'three'

'three'

In [193]:
list1
# After popping last element and then third element, 'list1' is now just ['one,'two','four']

['one', 'two', 'four']

### 4) Add list into list

In [194]:
color = ["Red", "Green", "Blue", "Violet"]

In [195]:
color

['Red', 'Green', 'Blue', 'Violet']

In [196]:
age = [21, 23, 25, 27]

In [197]:
color.extend(age)
# .extend(age) extended the list 'color' by adding the list 'age' to the end of it

In [198]:
color

['Red', 'Green', 'Blue', 'Violet', 21, 23, 25, 27]

### 5) Python in-build functions with the lists

In [199]:
even = [2, 4, 6, 8]
odd =[1,3,5,7,9]

In [200]:
numbers = even + odd

In [201]:
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [202]:
print(sorted(numbers))
# sorted(numbers) sorts the numbers numerically

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [203]:
len(numbers)

9

In [204]:
max(numbers)

9

In [205]:
min(numbers)

1

In [206]:
# 1) Concatenation
# 2) Indexing in a list
# 3) Editing the list
# 4) Add list into list
# 5) Python in-build functions with the lists

## Dictionaries

### 1) Define a Dictionary

In [207]:
my_dict = {"key1": "value1", "key2": "value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [208]:
my_dict["key1"]
# Calling the key 'key' gives the corresponding value 'value1'

'value1'

In [209]:
fruits = {"Apple":3, "Banana":1.75, "Cherry":2}
fruits
fruits["Apple"]

3

### 2) Dictionaries with all data type's

In [210]:
new_dict = {"k1": "147", "k2":[15, 25, 35], "k3": {"Apple":3}}
# Created a new dictionary where values are an integer, a list of integers, and another dictionary

In [211]:
new_dict

{'k1': '147', 'k2': [15, 25, 35], 'k3': {'Apple': 3}}

In [212]:
new_dict["k2"]

[15, 25, 35]

In [213]:
new_dict["k2"][1]
# Calls the second element in the value for key "k2" which is the 25 in the list [15, 25, 35]

25

In [214]:
new_dict["k3"]

{'Apple': 3}

In [215]:
new_dict["k3"]["Apple"]
# Calls the value corresponding to "Apple" in the corresponding value for 'k3' which is the dictionary {'Apple': 3}

3

In [216]:
d = {"students": ["a", "b", "c", "d", "f", "5", "wtv we want", "4", "u", "p"]}

In [217]:
d

{'students': ['a', 'b', 'c', 'd', 'f', '5', 'wtv we want', '4', 'u', 'p']}

In [218]:
d["students"][1]

'b'

In [219]:
d["students"][-1] 
# Calling the -1 index prints the last element of a list

'p'

In [220]:
d["students"][3]

'd'

In [221]:
d["students"][3].upper()
# .upper() makes the entire fourth element of list 'students' upper case which is the lowercase letter 'd'

'D'

### 3) Add Values

In [222]:
d = {"k1": "100", "k2": "200"}

In [223]:
d["k1"]

'100'

In [224]:
d["k3"] = 300
# To create a new entry in a dictionary, you must declare a new key equal to a value

In [225]:
d

{'k1': '100', 'k2': '200', 'k3': 300}

### 4) Replace Values

In [226]:
d

{'k1': '100', 'k2': '200', 'k3': 300}

In [227]:
d["k1"] = "New Value"
# To change values of existing keys, you can reassign them the same way you create a new entry

In [228]:
d

{'k1': 'New Value', 'k2': '200', 'k3': 300}

In [229]:
d.keys()
# Calls all keys of the dictionary

dict_keys(['k1', 'k2', 'k3'])

In [230]:
d.values()
# Calls all values of the dictionary

dict_values(['New Value', '200', 300])

In [231]:
d.items()
# Calls all items in the dictionary, but in tuples

dict_items([('k1', 'New Value'), ('k2', '200'), ('k3', 300)])

## Tuples

### Define a Tuple

In [232]:
prime_numbers = (2,3,5,7,11)
type(prime_numbers)

tuple

In [233]:
perfect_squares = [1,4,9,16,25,36,49,64,81,100,121]
type(perfect_squares)

list

In [234]:
len(prime_numbers)

5

In [235]:
len(perfect_squares)

11

In [248]:
my_tuple = ("Hieee", 100, 12.47, 23, 65, 89, "prime", 100)

In [237]:
my_tuple

('Hieee', 100, 12.47, 23, 65, 89, 'prime')

### Indexing in Tuples

In [238]:
my_tuple[0]

'Hieee'

In [239]:
my_tuple[1]

100

In [240]:
my_tuple[0:2]

('Hieee', 100)

In [243]:
perfect_squares[2:5]

[9, 16, 25]

In [246]:
my_tuple.count(100)

2

In [250]:
my_tuple[2] = 3
# Cannot change values in a tuple, immutable

TypeError: ignored

## Sets

In [256]:
my_set = set()

In [252]:
my_list = [1,1,1,1,2,2,3, "Apple"]

In [253]:
set(my_list)

{1, 2, 3, 'Apple'}

In [262]:
my_set.add(22)

In [264]:
my_set.add(23)
my_set.add(23)

In [265]:
my_set

{22, 23}

## Strings... Part II