<a href="https://colab.research.google.com/github/10zinchosang/Summer2022-DataAnalytics/blob/main/Basics_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python part III

## Conditionals and Loops

## Conditionals

### IF... ELIF... ELSE Statements

In [3]:
"""
if (condition):
    do something
"""

'\nif (condition):\n    do something\n'

In [4]:
if 3>2:
    print("Right")
# 3 is greater than 2 so we print "Right"

Right

In [12]:
if 4>7:
    print("Right")
else:
    print("Wrong")
# 4 is not greater than 7 so we do the action under (else) which is print "Wrong"

Wrong

In [7]:
a = 3
b = 5

if a>b:
    print("Right")
else:
    print("Try again")
# Can use conditionals on variables, 3 is not greater than 5 so we print "Try again"

Try again

In [8]:
drink = "Tea"

if drink == "Coffee":
    print("Humaninty runs on coffee")
else:
    print("Where there is tea, there is hope")
# Can also use logical operators on strings in conditionals, the string "Tea" is not the same as "Coffee" so we print the second statement

Where there is tea, there is hope

In [13]:
drink = "Coke"

if drink == "Cofee":
    print("Coffeeee")
elif drink == "Water":
    print("Waterrrr")
elif drink == "Coke":
    print("Coca Cola")
elif drink == "Tea":
    print("Give me the tea")
# elif allows us to check multiple things, stops at first True elif condition

Coca Cola

## Loops

### For... loop

In [15]:
"""
for iterator in array:
    do something
"""

'\nfor iterator in array:\n    do something\n'

In [14]:
my_list = [ 1,2,3,4,5,6,7,8,9,10]

In [17]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in my_list:
    if i % 2 ==0:
        print(i)

2
4
6
8
10

In [19]:
for i in my_list:
    if i % 2 !=0:
        print(i)

1
3
5
7
9

In [20]:
my_list = [ 1,2,3,4,5]
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
print(list_sum)

15

In [22]:
my_string = "Hello World"

for x in my_string:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [24]:
my_list = [(1,2),(3,4),(5,6),(7,8)]
len(my_list)

4

In [25]:
for tup in my_list:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [26]:
for (a,b) in my_list:
    print(a,b)

1 2
3 4
5 6
7 8

In [28]:
for (a,b) in my_list:
    print(a)

1
3
5
7

In [30]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

for (a,b,c) in my_list:
    print(b,c)

2 3
5 6
8 9

In [32]:
my_dict = {"k1": 1, "k2": 2, "k3":3}

for i in my_dict:
    print(i)

k1
k2
k3

In [33]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [34]:
for i in my_dict.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [35]:
for (a,b) in my_dict:
    print(b)

1
2
3

## While Loops

In [40]:
i = 0

while i < 5:
    print(i)
    i = i + 1
else:
    print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [41]:
i = 10

while i < 5:
    print(i)
    i = i + 1
else:
    print("i is not less than 5")

i is not less than 5

### Pass, Break, and Continue

In [44]:
l = [1,2,3,4,5]

for items in l:
    # comment
    pass
print("I will work after!")

# pass means skip this block of code

I will work after!

In [48]:
my_string = "Hello World"

for letters in my_string:
    if letters == "r":
        break
    print(letters)

# break stops the loop once condition is true
# prints all letters of string until first "r"

H
e
l
l
o

W
o

In [50]:
my_string = "Hello World"

for letters in my_string:
    if letters == "r":
        continue
    print(letters)

# continue keeps loop going without doing action
# prints all letters of string, but skips all letters "r"

H
e
l
l
o

W
o
l
d

In [51]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i)
    i = i + 1

0
1
2

## Most used Built-in functions in Python

### 1) Range function

In [54]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [55]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [56]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [60]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

# different ways of declaring a range

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate

In [61]:
word = "Batman"

for items in word:
    print(items)

B
a
t
m
a
n

In [63]:
for items in enumerate(word):
    print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [65]:
for (a,b) in enumerate(word):
    print(b)

B
a
t
m
a
n

In [70]:
for (a,b) in enumerate(word):
    print(a)
    print(b)
    print("\n")

0
B


1
a


2
t


3
m


4
a


5
n

In [68]:
# Python escape sequences
# https://www.python-ds.com/python-3-escape-sequences

### 3) Zip

In [71]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
list3 = ["a","b","c"]

In [72]:
list4 = zip(list1,list2)

In [73]:
print(list4)

<zip object at 0x7f1d461d2e60>

In [75]:
for items in zip(list1,list2):
    print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [76]:
for a,b in zip(list1,list2):
    print(a,b)

1 a
2 b
3 c
4 d
5 e

In [77]:
for items in zip(list1,list2,list3):
    print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [78]:
for a,b,c in zip(list1,list2,list3):
    print(b)

a
b
c